.data-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading{
  text-align: center;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
